*{
    text-align: center;
}

.slider{
    position: sticky;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    border-radius: 5px;
    padding: 1px;

}
.image:hover{
    box-shadow: 0 0 2px 1px #004643;
}
.justImage{
    background-color: #004643;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: fill;
    height: 300px;
    width: 350px;
}
.imageP{
    font-size: small;
    font-weight: bolder;
    z-index: 10;
    color: #004643;
}


.right-arrow{
    position: absolute;
    top: 50%;
    right: 1%;
    font-size: 2rem;
    color: #59a5d8;
    z-index: 1;
    cursor:pointer;
    user-select: none;
}
.left-arrow{
    position: absolute;
    top: 50%;
    left: 1%;
    font-size: 2rem;
    color: #59a5d8;
    z-index: 10;
    cursor:pointer;
    user-select: none;
}
.slide{
    opacity: 0;
    transition-duration: 1s ease;
}
.slide.active{
    opacity: 1;
    transition-duration: 0.8s;
    transform: scale(1.08);
}


